body {
	/* background-color: #A9D9CB; */
	background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=148489407");
    margin-left:15%; /*15*/
    margin-right:15%; /*15*/
}

#title {
	color: #344459;
	font-family: Oswald, sans-serif;
	text-align: center;
	font-size: 3em;
	margin-top: 5%;
}

h1
{
	width:25%;
	color: #344459;
	font-family: Oxygen, sans-serif;
	font-size: 2em;
	line-height: 90%;
	text-align: center;
}

.front {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.Timestamp:hover{
	background-color:#B5EACB;
	cursor: pointer;
}

.myLesson{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}

#scrollTable{
	height: 25em;
	overflow:auto;
}

table {
    border-collapse: collapse;
    width:100%;
}

table, th{
	background-color: #F2EAD0;
    border: 1px solid black;
	color: #344459;
	font-family: Oswald, sans-serif;
	text-align: center;
	font-size: 1.5em;
	margin-top: 5%;
}

td{
    border: 1px solid black;
	color: #344459;
	font-family: Oxygen, sans-serif;
	text-align: center;
	font-size: 1em; /*1em*/
	margin-top: 5%;
}

h2
{
	/* width:25%; */
	color: #485F73;
	font-family: Oxygen, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	text-align: center;
}

h3
{
	/* width:25%; */
	color: #485F73;
	font-family: Oxygen, sans-serif;
	font-size: 1.75em;
	line-height: 100%;
	text-align: center;
	/* text-decoration: underline; */
}

#Journal{
 	/* width:25%; */
 	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#Lesson{
	/* width:25%; */
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#EditJournal{
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#EditLesson{
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#savedEntry{
	/* width:25%; */
	color: #485F73;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	font-weight: bold;
}

#savedLesson{
	/* width:25%; */
	color: #485F73;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	font-weight: bold;
}

#EntryOptions{
	width:100%;
	text-align:center;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
	font-family: Oxygen, sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	text-align:center;
}

.threeButtons {
	width:33.33%;
	float:left;
}

.twoButtons {
	width:50%;
	float:left;
}

@media only screen and (max-device-width: 600px) {
	body {
		background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=148489407");
	    margin-left:2%;
	    margin-right:2%;
	}
	
	#indexTitle{
		font-size: 4em;
	}
	
	#search{
		font-size:3em;
		width: 15em;
	}
	
	#scrollTable{
	height: 40em; /*->40em*/
		overflow:auto;
	}
	
	tr{
		height:7em;
	}
	
	td{
	    border: 1px solid black;
		color: #344459;
		font-family: Oxygen, sans-serif;
		text-align: center;
		font-size: 1.8em; /*->2em*/
		margin-top: 5%;
	}
	
	.Timestamp{
		width:40%;
	}
	
	.myLesson{
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  max-width: 10em;
	}
	
	#dateOfEntry{
		font-size: 2em;
	}
	
	h3{
		font-size: 3em;
	}
	
	#Journal{
	 	color: #757880;
		font-family: Oxygen, sans-serif;
		font-size: 3em;
		line-height: 100%;
		width:100%;
	}
	
	#Lesson{
		color: #757880;
		font-family: Oxygen, sans-serif;
		font-size: 3em;
		line-height: 100%;
		width:100%;
	}
	
	#savedEntry{
		color: #485F73;
		font-family: Oswald, sans-serif;
		font-size: 3em;
		line-height: 100%;
		font-weight: bold;
	}
	
	#savedLesson{
		color: #485F73;
		font-family: Oswald, sans-serif;
		font-size: 3em;
		line-height: 100%;
		font-weight: bold;
	}
	
	input[type=submit] {
	    padding:5px 15px; 
	    background:#ccc; 
	    border:0 none;
	    cursor:pointer;
		font-family: Oxygen, sans-serif;
		font-size: 1.5em;
		font-weight:bold;
	    -webkit-border-radius: 5px;
	    border-radius: 5px; 
		text-align:center;
		height:4em;
		width: 10em;
	}
}