body {
	/* background-color: #A9D9CB; */
	background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=148489407");
    margin-left:15%;
    margin-right:15%;
}

#title {
	color: #344459;
	font-family: Oswald, sans-serif;
	text-align: center;
	font-size: 3em;
	margin-top: 5%;
}

h1
{
	width:25%;
	color: #344459;
	font-family: Oxygen, sans-serif;
	font-size: 2em;
	line-height: 90%;
	text-align: center;
}

.front {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.Timestamp:hover{
	background-color:#B5EACB;
	cursor: pointer;
}

.myLesson{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}


table {
    border-collapse: collapse;
    width:100%;
}

table, th{
	background-color: #F2EAD0;
    border: 1px solid black;
	color: #344459;
	font-family: Oswald, sans-serif;
	text-align: center;
	font-size: 1.5em;
	margin-top: 5%;
}

td{
    border: 1px solid black;
	color: #344459;
	font-family: Oxygen, sans-serif;
	text-align: center;
	font-size: 1em;
	margin-top: 5%;
}

h2
{
	/* width:25%; */
	color: #485F73;
	font-family: Oxygen, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	text-align: center;
}

h3
{
	/* width:25%; */
	color: #485F73;
	font-family: Oxygen, sans-serif;
	font-size: 1.75em;
	line-height: 100%;
	text-align: center;
	/* text-decoration: underline; */
}

#Journal{
 	/* width:25%; */
 	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#Lesson{
	/* width:25%; */
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#EditJournal{
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#EditLesson{
	color: #757880;
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	line-height: 100%;
	width:100%;
}

#savedEntry{
	/* width:25%; */
	color: #485F73;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	font-weight: bold;
}

#savedLesson{
	/* width:25%; */
	color: #485F73;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	font-weight: bold;
}

#EntryOptions{
	width:100%;
	text-align:center;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
	font-family: Oxygen, sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	text-align:center;
}

.threeButtons {
	width:33.33%;
	float:left;
}

.twoButtons {
	width:50%;
	float:left;
}
